#forums.specified
  .section
    %h3
      == #{ @what } Forums
      = link_to 'All forums', url(:forums), :class => 'navlink'
    - unless @forums_page.nil?
      %table
        %thead
          %tr
            %td.name Forum
            %td.topic_count Topics
        - i = 0
        %tbody
          - @forums_page.each do |forum|
            %tr{:class => "alt#{i}"}
              %td.name= link_to h(forum.name), url(:forum, :id => forum.id)
              %td.topic_count= forum.topics_count
            - i == 0 ? i = 1 : i = 0
    .bottom
      .pagination
        = merb_paginate @forums_page, :route => { :name => @route }
        = page_entries_info @forums_page
      = link_to "« All forums", url(:forums), :class => 'navlink'
