#forums
  %h2.index_header
    Forums
    .caption debate the issue in real time
    .caption become part of the discussion
  - if @forums_page.nil?
    .section
      %h3 Latest Topics
      - unless @latest_topics.nil?
        - @latest_topics.each do |topic|
          =h(topic.name)
    .section
      %h3 General Forums
      - unless @general_forums.nil?
        %table
          %thead
            %tr
              %td.name Forum
              %td.topic_count Topics
          - i = 0
          %tbody
            - @general_forums.each do |forum|
              %tr{:class => "alt#{i}"}
                %td.name= link_to h(forum.name), url(:forum, :id => forum.id)
                %td.topic_count= forum.topics_count
              - i == 0 ? i = 1 : i = 0
            
    .section
      %h3
        Group Forums
        = link_to 'Groups index', url(:groups), :class => 'navlink'
      - unless @group_forums.nil?
        %table
          %thead
            %tr
              %td.name Forum
              %td.topic_count Topics
          - i = 0
          %tbody
            - @group_forums.each do |forum|
              %tr{:class => "alt#{i}"}
                %td.name= link_to h(forum.name), url(:forum, :id => forum.id)
                %td.topic_count= forum.topics_count
              - i == 0 ? i = 1 : i = 0
        .bottom
          = link_to "Show All »", url(:group_index), :class => 'navlink'

    .section
      %h3
        Poll-Related Forums
        = link_to 'Polls index', url(:polls), :class => 'navlink'
      - unless @poll_forums.nil?
        %table
          %thead
            %tr
              %td.name Forum
              %td.topic_count Topics
          - i = 0
          %tbody
            - @poll_forums.each do |forum|
              %tr{:class => "alt#{i}"}
                %td.name= link_to h(forum.name), url(:forum, :id => forum.id)
                %td.topic_count= forum.topics_count
              - i == 0 ? i = 1 : i = 0
        .bottom
          = link_to "Show All »", url(:poll_index), :class => 'navlink'
    .section
      %h3
        Legislation Forums
        = link_to 'Bills index', url(:bill), :class => 'navlink'
      - unless @bill_forums.nil?
        %table
          %thead
            %tr
              %td.name Forum
              %td.topic_count Topics
          - i = 0
          %tbody
            - @bill_forums.each do |forum|
              %tr{:class => "alt#{i}"}
                %td.name= link_to h(forum.name), url(:forum, :id => forum.id)
                %td.topic_count= forum.topics_count
              - i == 0 ? i = 1 : i = 0
        .bottom
          = link_to "Show All »", url(:bill_index), :class => 'navlink'
  - else
    - @forums_page.each do |forum|
      = h(forum.name)
