#forum
  %h2= @forum.name
  - unless @topics_page.nil?
    %table
      %tr
        %th.name Topic
        %th.posts_count Posts
        %th.author Author
      - i = 0
      - @topics_page.each do |topic|
        %tr{ :class => "alt#{i}"}
          %td.name= link_to topic.name, url(:topic, :id => topic.id)
          %td.posts_count
          %td.author= link_to topic.user.username, url(:user, :id => topic.user.username)
  = link_to "Add a New Topic", url(:new_topic, :forum_id => @forum.id)
