#forum
  %h2= @forum.name
  - unless @topics_page.nil?
    %table
      %thead
        %tr
          %td.name Topic
          %td.posts_count Posts
          %td.author Author
      - i = 0
      %tbody
        - @topics_page.each do |topic|
          %tr{ :class => "alt#{i}"}
            %td.name= link_to topic.name, url(:topic, :id => topic.id)
            %td.posts_count= topic.posts_count
            %td.author= link_to topic.user.username, url(:user, :id => topic.user.username)
          - i == 0 ? i = 1 : i = 0
  = link_to "new topic", url(:new_topic, :forum_id => @forum.id), :class => 'button_black'
