- form_for @person, :action => url(:person, :id => @user.username), :class => 'full' do
  %h1 Edit Your Profile
  .caption
    %span You can describe yourself here.
  = error_messages_for @person
  = error_messages_for @user
  - if !params[:after_signup]
    = text_control :full_name, :label => 'Full Name'
    - fields_for @user do
      = text_control :email, :label => 'Email'
  %label Describe Yourself ( <a href="http://hobix.com/textile/">Textile enabled</a> )
  %textarea{ :name => "person[description]" }
    = preserve "#{@person.description}"
  %label Political Beliefs ( <a href="http://hobix.com/textile/">Textile enabled</a> )
  %textarea{ :name => "person[political_beliefs]" }
    = preserve "#{@person.political_beliefs}"
  - affiliations = ['None', 'Republican Party', 'Democratic Party', 'Libertarian Party', 'Constitution Party', 'Green Party', 'Other']
  = select_control :political_affiliation, :collection => affiliations, :label => 'Political Affiliation'
  %label Interests ( <a href="http://hobix.com/textile/">Textile enabled</a> )
  %textarea{ :name => "person[interests]" }
    = preserve "#{@person.interests}"
  .actions
    .cancel
      = link_to "cancel", url(:home)
    .submit
      = submit_button "save profile"
