- form_for @new_person, :action => url(:people), :class => 'full' do
  %h1 Person Signup
  .caption
    %span Looking to sign up your organization?
    = link_to "Group Signup", url(:new_group)
  = error_messages_for @new_person
  = error_messages_for @new_user
  = text_control :full_name, :label => 'Full name'
  %label Birthdate
  = select_field :name => 'b_month', :collection => get_months()
  = select_field :name => 'b_day', :collection => (1..31).collect { |d| '%02d' % d }
  = select_field :name => 'b_year', :collection => get_years().reverse
  - fields_for @new_user do
    = text_control :email, :label => 'Email'
    = text_control :username, :label => 'Username'
    = password_control :password, :label => 'Password'
    = password_control :password_confirmation, :label => 'Confirm password'
  .captcha
    = recaptcha_tags
  .actions
    .cancel
      = link_to "Cancel", url(:home)
    .submit
      = submit_button "Sign up"
