#person
  #person_photo_etc
    #person_photo
      .photo= image_tag @user.avatar.url(:large)
    #person_actions
      .actions
        - if logged_in?
          - if @current_user.id == @user.id
            = link_to "edit my profile", url(:edit_person, :id => @user.username), :class => 'button_link'
          - elsif !@current_user.person_id.nil?
            - if @cr.nil? 
              - form_tag :action => url(:contact_relationships) do
                = hidden_field :name => 'contact', :value => @user.username
                = submit_button("add to contacts")
            - elsif @cr.is_accepted?
              - form_tag :action => url(:contact_relationship, :id => @user.username), :method => :delete do
                = hidden_field :name => 'contact', :value => @user.username
                = submit_button("remove from contacts")
            - if @user.is_adviser
              - if @ar.nil?
                - form_tag :action => url(:adviser_relationships) do
                  = hidden_field :name => 'adviser', :value => @user.username
                  = submit_button("add as adviser")
              - else
                - form_tag :action => url(:adviser_relationship, :id => @user.username), :method => :delete do
                  = hidden_field :name => 'adviser', :value => @user.username
                  = submit_button("remove from advisers")
    - if @user.is_adviser?
      - unless @ar.nil?
        #person_advisees_block.block
          .title Advisees
    - else
      - unless @ar.nil?
        #person_advisers_block.block
          .title Advisers

    #person_contacts_block.block
      .title Contacts
      .avatars
        - @person.contacts.each do |contact|
          =link_to image_tag(contact.user.avatar.url(:small)), url(:person, :id => contact.user.username)
    #person_groups_block.block
      .title Groups
      .avatars
        - @person.groups.each do |group|
          =link_to image_tag(group.user.avatar.url(:small)), url(:group, :id => group.user.username)
    #watched_bills.block
      .title Watched Bills
    #watched_polls.block
      .title Watched Polls
  #person_details_etc
    #person_details
      .name== #{@person.full_name} | #{@user.username}
      - unless @user.address.nil?
        .address= @user.address_text
    #recent_activity.block
      .title.alt_title Recent Activity
      .content
        %ul
          %li
            %span Today
            Sophia voted YES on poll Do rock have feelings? Sophia voted YES on poll Do rock have feelings? Sophia voted YES on poll Do rock have feelings?
            %form
              %button
                %span Delete
          %li
            %span Today
            Sophia voted YES on poll Do rock have feelings?
            %form
              %button
                %span Delete
    - unless @person.description.nil?
      #description.block
        .title About Me
        .content
          = @person.description.render_textile
    - unless @person.political_beliefs.nil?
      #political_beliefs.block
        .title Political Beliefs
        .content
          = @person.political_beliefs.render_textile
    - unless @person.interests.nil?
      #interests.block
        .title Interests
        .content
          = @person.interests.render_textile
