#topic
  %h2=h @topic.name
  - unless @posts_page.nil? 
    %table
      %thead
        %tr
          %td.author Author
          %td.post Post
      - i = 0
      %tbody
        - @posts_page.each do |post|
          %tr{ :class => "alt#{i}", :id => 'p-%s' % post.post_number.to_s}
            %td.author
              .image
                = link_to image_tag(post.user.avatar.url(:small)), profile_url(post.user)
              .username
                = link_to h(post.user.username), profile_url(post.user)
              - unless post.user.address_text.nil?
                .address
                  =h post.user.address_text
            %td.text
              .meta
                = link_to '#' + post.post_number.to_s, post_url(post)
                %span.chrono
                  = post.created_at.strftime('%b %d, %Y %I:%M%P')
              = post.text.render_textile
          - i == 0 ? i = 1 : i = 0
  .bottom
    .pagination
      = merb_paginate @posts_page, :route => { :name => :topic, :id => @topic.id }
      = page_entries_info @posts_page
    = link_to "« Topics index", url(:forum, :id => @topic.forum_id), :class => 'navlink'
    = link_to "Reply", url(:new_post, :topic_id => @topic.id), :class => 'button_black'

  - unless @videos.empty?
    #topic_media
      %h2 Topic media
      %table
        %thead
          %tr
            %td Resource
            %td.narrow Post
            %td.narrow User
        %tbody
          - @videos.each do |video|
            %tr
              %td
                = link_to h(video.title), 'http://pl.youtube.com/watch?v=' + video.resource
              %td.narrow
                = link_to 'Go: #' + video.post.post_number.to_s, post_url(video.post)
              %td.narrow
                = link_to video.post.user.username, profile_url(video.post.user)
