#topic
  %h2= @topic.name
  - unless @posts_page.nil? 
    %table
      %thead
        %tr
          %td.author Author
          %td.post Post
      - i = 0
      %tbody
        - @posts_page.each do |post|
          %tr{ :class => "alt#{i}"}
            %td.author
              .image= link_to image_tag(post.user.avatar.url(:small)), profile_url(post.user)
              .username= link_to post.user.username, profile_url(post.user)
            %td.text
              - unless post.video_attachments.nil?
                - post.video_attachments.each do |video|
                  = video.to_embed
              = h post.text
          - i == 0 ? i = 1 : i = 0
  = link_to "reply", url(:new_post, :topic_id => @topic.id), :class => 'button_black'
