#group_requests
  %h2 New Group Requests
  .caption Confirm new group members and they will be able to participate in the group forum.
  - unless @new_grs.empty?
    - @new_grs.each do |new_gr|
      .request
        == #{ link_to(new_gr.person.full_name, profile_url(new_gr.person.user)) } wants to to join '#{@current_user.group.name}' group.
        - form_tag :action => url(:group_relationship, :id => new_gr.person.user.username), :method => :put, :class => 'confirm' do
          = hidden_field :name => 'person', :value => new_gr.person.user.username
          = submit_button "Confirm Member"
        - form_tag :action => url(:group_relationship, :id => new_gr.person.user.username), :method => :delete, :class => 'reject' do
          = hidden_field :name => 'person', :value => new_gr.person.user.username
          = submit_button "Reject Member"
  - else
    .caption You have no new contacts seeking approval.