- form_for @group, :action => url(:group, :id => @user.username), :class => 'full' do
  %h1 Edit Your Profile
  .caption
    %span You can describe yourself here.
  = error_messages_for @group
  = error_messages_for @user
  - if !params[:after_signup]
    = text_control :name, :label => 'Name'
    - fields_for @user do
      = text_control :email, :label => 'Email'
  = text_area_control :description, :label => 'Group description ( <a href="http://hobix.com/textile/">Textile enabled</a> )'
  = text_area_control :mission, :label => 'Group mission ( <a href="http://hobix.com/textile/">Textile enabled</a> )'
  = text_field :name => 'group_tags', :id => 'group_tags', :label => 'Group tags ( comma separated )', :value => @group_tags

  .actions
    .cancel
      = link_to "Cancel", url(:home)
    .submit
      = submit_button "Save profile"
