#groups_index
  %h2.index_header
    Groups
    .caption discuss, stay updated, and learn more about what matters to you
    .caption pick representative groups as your advisers
  #groups_list_and_filters.list_and_filters
    #people_list.list
      - if @title
        #page_title= @title
      - if !@groups_page.nil?
        - @groups_page.each do |group|
          .group
            .details
              = link_to image_tag(group.user.avatar.url(:small)), profile_url(group.user), :class => 'img'
              .main
                %h3
                  = link_to h(group.name), profile_url(group.user)
                  %span== ( #{ group.members.length } members )
                .description
                  = h(group.description)
                .tags
                  tags:
                  - if (tags = Tag.get_tags(group)).empty?
                    %span no associated tags
                  - else
                    = partial 'partials/taglist', :tags => tags, :klass => 'group'
      .pagination
        = merb_paginate @groups_page, :route => :groups
        = page_entries_info(@groups_page)
    #groups_filters.filters
      #groups_search.search
      - if logged_in? && !@current_user.group_id.nil?
        #group_edit.attention
          .title Describe your group's focus
          = link_to "Edit Group Profile", url(:edit_group, :id => @current_user.username)
      #group_tags.filter
        .title Groups Tags
        .tag_cloud
          - tag_cloud(Tag.get_tags('group')[0..50], 'group', ['t1','t2','t3','t4','t5']) do |t, c|
            %a{ :href => url(:group_tag, :tag => t.permalink), :class => c }<
              = t.name

      /- else
      /  #group_edit.attention
      /    .title= "Can't find the group you're looking for?"
      /    = Learn about the important role groups play on FreeGovernment.org and how you can create your own.
