#group
  .navlinks
    = link_to 'All groups', url(:groups, :page => session[:groups_index_page]), :class => 'navlink'
    = link_to 'Group forum', url(:forum, :id => @group.forum.id), :class => 'navlink alt'
  #group_photo_etc
    .photo= image_tag @user.avatar.url(:large)
    #group_actions
      .actions
        - if logged_in?
          - if @current_user.id == @user.id
            = link_to "edit group profile", url(:edit_group, :id => @user.username), :class => 'button_link'
          - elsif !@current_user.person_id.nil?
            - if @gr.nil? 
              - form_tag :action => url(:group_relationship) do
                = hidden_field :name => 'group', :value => @user.username
                = submit_button("join this group")
            - elsif @gr.is_accepted?
              - form_tag :action => url(:group_relationship, :id => @user.username), :method => :delete do
                = hidden_field :name => 'group', :value => @user.username
                = submit_button("leave this group")
            - if @user.is_adviser
              - if @ar.nil?
                - form_tag :action => url(:adviser_relationships) do
                  = hidden_field :name => 'adviser', :value => @user.username
                  = submit_button("add as adviser")
              - else
                - form_tag :action => url(:adviser_relationship, :id => @user.username), :method => :delete do
                  = hidden_field :name => 'adviser', :value => @user.username
                  = submit_button("remove from advisers")
    #group_members_block.block
      .title Group Members
      .avatars
        - @group.members.each do |member|
          =link_to image_tag(member.user.avatar.url(:small)), url(:person, :id => member.user.username), :title => member.user.username
    /#group_photos_block.block
    /  .title Group Photos
    /#group_videos_block.block
    /  .title Group Videos
  #group_details_etc
    #group_details
      .name== #{h @group.name}
    #recent_activity.block
      .title.alt_title Recent Activity
      .content
        %ul
          %li
            %span Today
            Added a new event, "Event name"
            %form
              %button
                %span Delete
    - unless @group.description.nil?
      #group_description.block
        .title About Us
        .content
          = @group.description.render_textile
    - unless @group.mission.nil?
      #group_mission.block
        .title Our Mission Statement
        .content
          = @group.mission.render_textile
    #group_comments.comments.block
      .title.alt_title Group Comments
      .content
        - form_for Post.new, :action => url(:posts), :class => 'standard' do
          = hidden_control :topic_id, :value => @comments_topic.id
          = text_area_control :text, :label => 'type your message here'
          = submit_button "submit post"
        - unless @comments.empty?
          - @comments.each do |c|
            #comments
              .comment
                =link_to image_tag(c.user.avatar.url(:small)), profile_url(c.user), :class => 'avatar'
                .main
                  .meta
                    == #{link_to h(c.user.username), profile_url(c.user)},
                    %span= c.user.address_text
                    %small= c.created_at.strftime('%b %d, %Y %I:%M%P')
                  = c.text.render_textile
          .pagination
            = merb_paginate @comments, :route => { :name => :group, :id => @user.username }, :anchor => '#comments'
            = page_entries_info @comments
        - else
          %p No comments so far.
