/ Groups View
#group
  #group_photo_etc
    .photo= image_tag @user.avatar.url(:large)
    #group_donations_block.block
      .title Donations Earned to Date
    #group_members_block.block
      .title Group Members
      .avatars
        - @group.members.each do |member|
          =link_to image_tag(member.user.avatar.url(:small)), url(:person, :id => member.user.username)
    #group_photos_block.block
      .title Group Photos
    #group_videos_block.block
      .title Group Videos
  #group_details_etc
    #group_details
      .name== #{@group.name}
    #recent_activity.block
      .title.alt_title Recent Activity
      .content
        %ul
          %li
            %span Today
            Added a new event, "Event name"
            %form
              %button
                %span Delete
    - unless @group.description.nil?
      #group_description.block
        .title About Us
        .content
          = @group.description.render_textile
    - unless @group.mission.nil?
      #group_mission.block
        .title Our Mission Statement
        .content
          = @group.mission.render_textile
    #group_comments.comments.block
      .title.alt_title Group Comments
      .content
        %form.standard
          %label type your post here
          %textarea
          %button
            submit post
        .comment
          =link_to image_tag(@user.avatar.url(:small)), url(:group, :id => @user.username), :class => 'avatar'
          .main
            .meta
              = link_to @group.name, url(:group, :id => @group.name)
              , Concord, NH
            %p In hac habitasse platea dictumst. Proin bibendum pede in justo. Aliquam consectetuer gravida nisi. Curabitur nec turpis. Cras in nisi. Aenean sit amet sapien. In a diam id ipsum commodo malesuada. Aliquam dictum libero vel nisi. Nam commodo blandit lectus. Sed vel erat eu justo interdum malesuada. Morbi condimentum ligula cursus quam. Donec velit.
            %p Aliquam feugiat risus in massa. Maecenas nisl lorem, pharetra sodales, rhoncus nec, facilisis in, purus. Donec non lorem aliquet mi porttitor pretium. Duis commodo purus id ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc lectus eros, ultrices quis, viverra ac, suscipit et, nulla.
        .comment
          Test
        .comment
          Test