#edit_user
  - form_for @user, :action => url(:user, :id => @user.username), :multipart => true, :class => 'full' do
    %h1 Account Settings
    = hidden_field :name => 'after_signup', :value => 1
    = error_messages_for @user
    .image_upload
      %label.current Current image
      .current_image= image_tag @user.avatar.url(:large)
      .delete
        = checkbox_field :name => 'delete_avatar', :id => 'delete_avatar'
        %label{ :for => 'delete_avatar' } Delete current image?
      .upload
        %label Upload image
        = file_field :name => 'avatar'
    - unless @user.person_id.nil?
      .check
        = checkbox_control :is_adviser
        %label{:for => 'user_is_adviser'} Do you want to be an adviser?
      .note If you become an adviser you may not choose advisers yourself, and will lose any current advisers you may have.
      .check
        = checkbox_control :private_profile
        %label{:for => 'user_private_profile'} Do you want your profile to be private?
    = text_control :street_address1, :label => 'Street address 1'
    = text_control :street_address2, :label => 'Street address 2'
    = text_control :city_town, :label => 'City or town'
    = text_control :state, :label => 'State'
    = text_control :zipcode, :label => 'Zipcode'
    .actions
      .cancel
        = link_to "Cancel", url(:home)
      .submit
        = submit_button "Update account"
