#blog
  %h2
    = link_to 'FreeGovernment Blog', 'http://blog.freegovernment.org'
  - if !rss.nil? && !rss.empty?
    - @rss.each do |entry|
      .entry
        %h3= entry.title
        - if entry.content.length < 400
          .content= entry.content
          .permalink= link_to "Permalink", entry.urls.first
        - else
          .content= entry.content.truncate_html(400) + "..."
          .permalink= link_to "Read more", entry.urls.first
