<!-- <script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script> -->
<script type="text/javascript">
  has_map = true;


  function randOrd(){
    return (Math.round(Math.random())-0.5);
  }


  // Call this function when the page has been loaded
  function initializeMap() {
    var map = new google.maps.Map2(document.getElementById("map"));
    map.setCenter(new google.maps.LatLng(42, -71), 4);
    //map.openInfoWindow(map.getCenter(),document.createTextNode('FreeGovernment.org launched!'));
    what_where = [
      <% unless @map_items.nil? %>
        <% @map_items.each do |map_item| %>
          {
            what: '<%= link_to map_item.user.username, profile_url(map_item.user) %>',
            where: [<%= map_item.user.address_lat %>, <%= map_item.user.address_lng %>],
            image: "<%= map_item.user.avatar.url(:small) %>"
          },
        <% end %>
      <% end %>
    ];
 
    what_where.sort(randOrd);
    num=0;
    window.setInterval(function() {
      latlng = new google.maps.LatLng(what_where[num]['where'][0], what_where[num]['where'][1]);
      map.panTo(latlng);
      map.panDirection(0,0);
      map.openInfoWindowHtml(
        latlng,
        '<div style="width: 220px"><img style="float: left" src="'+what_where[num]['image']+'" /><div style="float: right; width: 140px; padding: 10px">'+what_where[num]['what']+'</div></div>',
        {
          maxWidth: 250,
          noCloseOnClick: true
        }
      );
      if(num == what_where.length-1) {
        what_where.sort(randOrd);
        num = 0;
      } else
        num++;
    }, 10000);
  }

  jQuery(document).ready(function(){
//    loadMapScript();
  });

  function loadMapScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>&async=2&callback=loadMap";
    document.body.appendChild(script);
  }

  function loadMap() {
    google.load("maps", "2", {"callback": initializeMap});
  }

  function startMap() {
    $('#map_preimage').hide();
    $('#map').show();  
    loadMapScript();
  }

</script>
<a id="map_preimage" onclick="startMap()" style="cursor: pointer"><img src="/images/home/googlemap.png" /></a>
<div id="map" style="display: none; width: 500px; height: 275px"></div>
