<%- cache "home_map", 10 do %>
<script type="text/javascript">
  has_map = true;


  function randOrd(){
    return (Math.round(Math.random())-0.5);
  }


  // Call this function when the page has been loaded
  function initializeMap() {
    var map = new google.maps.Map2(document.getElementById("map"));
    map.setCenter(new google.maps.LatLng(42, -71), 4);
    map.openInfoWindowHtml(map.getCenter(),'<div style="width: 220px"><img style="float: left" src="/images/home/bot-small.png" /><div style="float: right; width: 140px; padding: 10px">FreeGovernment.org is fetching recent activity...</div></div>');
    <% unless @map_items.nil? %>
    what_where = [
       <% @map_items.each do |a| %>
         <%
  case a.what
  when 'signup'
    what = '%s signed up.' % link_to(a.user.username, profile_url(a.user))
  when 'poll'
    what = '%s created the poll, "%s"' % [link_to(a.user.username, profile_url(a.user)), link_to(a.poll.question.ellipsis(80), url(:poll, :id => a.poll_id))]
  when 'bill'
    what = '%s created the bill, "%s"' % [link_to(a.user.username, profile_url(a.user)), link_to(a.bill.title.ellipsis(80), url(:bill, :id => a.bill_id))]
  when 'vote'
    what = '%s voted %s on the poll, "%s."' % [link_to(a.user.username, profile_url(a.user)), a.vote.upcase, link_to(a.poll.question.ellipsis(80), url(:poll, :id => a.poll_id))]
  end
         %>
         <% unless a.is_private and (a.user_id != current_user.id or (!a.user.person_id.nil? and !a.user.person.contacts.collect{|c| c.id}.include?(current_user.id)) or (!a.user.group_d.nil? and !a.user.group.members.collect{|c| c.id}.include?(current_user.id))) %>
          {
            what: '<%= what.gsub(/[']/, '\\\\\'') %>',
            where: [<%= a.user.address_lat %>, <%= a.user.address_lng %>],
            image: "<%= a.user.avatar.url(:small) %>"
          },
          <% end %>
        <% end %>
    ];
 
    what_where.sort(randOrd);
    num=0;
    window.setInterval(function() {
      latlng = new google.maps.LatLng(what_where[num]['where'][0], what_where[num]['where'][1]);
      map.panTo(latlng);
      map.panDirection(0,0);
      map.openInfoWindowHtml(
        latlng,
        '<div style="width: 220px"><img style="float: left" src="'+what_where[num]['image']+'" /><div style="float: right; width: 140px; padding: 10px">'+what_where[num]['what']+'</div></div>',
        {
          maxWidth: 250,
          noCloseOnClick: true
        }
      );
      if(num == what_where.length-1) {
        what_where.sort(randOrd);
        num = 0;
      } else
        num++;
    }, 3000);
    <% end %>
  }

  jQuery(document).ready(function(){
//    loadMapScript();
  });

  function loadMapScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>&async=2&callback=loadMap";
    document.body.appendChild(script);
  }

  function loadMap() {
    google.load("maps", "2", {"callback": initializeMap});
  }

  function startMap() {
    $('#map_preimage').hide();
    $('#map').show();  
    loadMapScript();
  }

</script>
<a id="map_preimage" onclick="startMap()" style="cursor: pointer"><img src="/images/home/googlemap.png" /></a>
<div id="map" style="display: none; width: 500px; height: 275px"></div>
<% end -%>
