<script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GeoKit::Geocoders::google %>"></script>
<script type="text/javascript">
  function randOrd(){
    return (Math.round(Math.random())-0.5);
  }

  google.load("maps", "2");

  // Call this function when the page has been loaded
  function initialize() {
    var map = new google.maps.Map2(document.getElementById("map"));
    map.setCenter(new google.maps.LatLng(42, -71), 4);
    //map.openInfoWindow(map.getCenter(),document.createTextNode('FreeGovernment.org launched!'));
    what_where = [
      <% @map_items.each do |map_item| %>
        {
          what: '<%= link_to map_item.user.username, profile_url(map_item.user) %>',
          where: [<%= map_item.user.address_lat %>, <%= map_item.user.address_lng %>],
          image: "<%= map_item.user.avatar.url(:small) %>"
        },
      <% end %>
    ];
 
    what_where.sort(randOrd);
    num=0;
    window.setInterval(function() {
      latlng = new google.maps.LatLng(what_where[num]['where'][0], what_where[num]['where'][1]);
      map.panTo(latlng);
      map.panDirection(0,0);
      map.openInfoWindowHtml(
        latlng,
        '<div style="width: 220px"><img style="float: left" src="'+what_where[num]['image']+'" /><div style="float: right; width: 140px; padding: 10px">'+what_where[num]['what']+'</div></div>',
        {
          maxWidth: 250,
          noCloseOnClick: true
        }
      );
      if(num == what_where.length-1) {
        what_where.sort(randOrd);
        num = 0;
      } else
        num++;
    }, 10000);
  }
  google.setOnLoadCallback(initialize);
</script>
<div id="map" style="width: 500px; height: 275px"></div>
