#home
  #intro
    .left
      = partial 'home/login'
      .attention
        .title See how FreeGovernment.org is empowering citizens.
        = link_to "Take the site tour", url(:home)
      .attention
        .title Want to get your organization on FreeGovernment.org?
        = link_to "Sign your group up here", url(:new_group)
    .right
      = partial 'home/banner'
      = partial 'home/map'
  #freedoms
    %h2 The Four Defining Freedoms of Free Government
    %ul
      %li
        %h3 1. Engage
        .content Freedom to engage in government decision making for any purpose at any time.
      %li
        %h3 2. Understand
        .content Freedom to understand the work of the government transparently.
      %li
        %h3 3. Share
        .content Freedom to share direct control of the government.
      %li.last
        %h3 4. Improve
        .content Freedom to improve the government for the benefit of all society with the support of others.
  #info
    .left
      .block
        %h3 About us
        .content
          FreeGovernment.org is a:
          %ul
            %li
              %strong non-profit
              organization
            %li
              build on
              %strong open source
              software
            %li
              designed to
              %strong empower citizens
      .block
        %h3 Get involved
        .content
          FreeGovernment.org is a result of many peoples' work. Here are some ways you can get involved:
          %ul
            %li spread the word
            %li get on mailing list
            %li organize and attend events
            %li help campaign for candidates
            %li join our programming and design team
            %li sign up!
    .right
      #blog
        %h2
          = link_to 'FreeGovernment Blog', 'http://blog.freegovernment.org'
        - begin
          - rss = FeedNormalizer::FeedNormalizer.parse open('http://feeds.feedburner.com/freegovernment')
          - if rss.entries.length > 0
            - rss.entries.each do |entry|
              .entry
                %h3= entry.title
                = entry.content
                = link_to "See full post", entry.urls.first
        - rescue

