#home
  #intro
    .left
      = partial 'home/login'
      .attention
        .title See how FreeGovernment.org is empowering citizens.
        = link_to "Take the site tour", url(:home)
      .attention
        .title Want to get your organization on FreeGovernment.org?
        = link_to "Sign your group up here", url(:new_group)
    .right
      = partial 'home/banner'
      = partial 'home/map'
  #freedoms
    %h2 The Four Defining Freedoms of Free Government
    %ul
      %li
        %h3 1. Engage
        .content Freedom to engage in government decision making for any purpose at any time.
      %li
        %h3 2. Understand
        .content Freedom to understand the work of the government transparently.
      %li
        %h3 3. Share
        .content Freedom to share direct control of the government.
      %li
        %h3 4. Improve
        .content Freedom to improve the government for the benefit of all society with the support of others.
