#start
  #intro
    .left
      .block
        %h3 Your updates
        .content.alt.updates
          - unless @feed_items.nil?
            - @feed_items.each do |feed_item|
              - unless feed_item.what.nil?
                .activity
                  = describe_feed_item(feed_item)
                  = feed_item.created_at.strftime '%d %b %Y @ %I:%M%P'
      - if !@adv_updates.nil?
        .block
          %h3 Adviser Votes
          .content.alt.updates
            - unless @adv_items.nil? 
              - @adv_items.each do |adv_item|
                - unless adv_item.what.nil?
                  .activity
                    = describe_feed_item(adv_item)
                    = adv_item.created_at.strftime '%d %b %Y @ %I:%M%P'
      = partial 'home/is_a'
    .right
      = partial 'home/map'
      - unless @rss.nil?
        = partial 'home/blog', :rss => @rss
