#bills_index
  %h2.index_header
    Bills
    .caption debate bills paragraph-by-paragraph
    .caption create new bills and seek out the support of others
  .list_and_filters
    .list
      - if @title
        #page_title=h @title
      - @bills_page.each do |bill|
        .bill
          .img= link_to image_tag(bill.user.avatar(:small)), profile_url(bill.user)
          .main
            .number
              ==[FG Bill ##{bill.id}]
              /%span FG BILL #287
            %h3
              = link_to h(bill.title), url(:bill, :id => bill.id)
            .description
              - unless bill.summary.nil?
                %h4 Summary
                %p= h(bill.summary).ellipsis(50)
              - else
                %h4 Bill Text
                %p= h(bill.text).ellipsis(50)
            .tags
              tags:
              - if (tags = Tag.get_tags(bill)).empty?
                %span no associated tags
              - else
                = partial 'partials/taglist', :tags => tags, :klass => 'bill'
            .actions
              = link_to "show related poll", url(:poll, :id => bill.poll_id)
      .pagination
        - if @tag
          = merb_paginate @bills_page, :route => { :name => :bill_tag }, :params => { :tag => @tag.permalink }
        - else
          = merb_paginate @bills_page, :route => { :name => :bills }
        = page_entries_info @bills_page
    #bill_filters.filters
      = link_to "Order by created at", url(:bills, :sort_by => 'created_at', :direction => 'desc')
      = link_to "Order by title", url(:bills, :sort_by => 'title', :direction => 'desc')
      #bill_search
      - form_tag :action => url(:bills), :method => :get do
        = text_field :title => 'search[title]'
        = submit_button "search"
      #bill_creation.attention
        .title Want to create a bill to share with FreeGov community?
        = link_to "Click to get started", url(:new_bill)
      #bill_tags.filter
        .title Bill Tags
        .tag_cloud
          - tag_cloud(Tag.get_tags('bill')[0..50], 'bill', ['t1','t2','t3','t4','t5']) do |t, c|
            %a{ :href => url(:bill_tag, :tag => t.permalink), :class => c }<
              = t.name
