#new_bill
  - form_for @new_bill, :action => url(:bills), :class => 'full' do
    %h1 Want to create a new bill?
    = error_messages_for @new_bill
    = text_control :title, :label => 'bill title:'
    = text_area_control :discussion_topics, :label => 'discussion topics ( one per line )'
    = text_area_control :summary, :label => 'summary:'
    = text_area_control :text, :label => 'text:'
    = text_field :name => 'bill_tags', :id => 'bill_tags', :label => 'bill tags ( comma separated )', :value => @bill_tags
    .actions
      .cancel
        = link_to "cancel", url(:bills)
      .submit
        = submit_button "post bill"
