#new_bill
  - form_for @new_bill, :action => url(:bills), :class => 'full' do
    %h1 New Bill
    = error_messages_for @new_bill
    = text_control :title, :label => 'Bill title'
    = text_area_control :summary, :label => 'Summary'
    = text_area_control :text, :label => 'Text'
    = text_field :name => 'bill_tags', :id => 'bill_tags', :label => 'Bill tags ( comma separated )', :value => @bill_tags
    .captcha
      = recaptcha_tags
    .actions
      .cancel
        = link_to "Cancel", url(:home)
      .submit
<<<<<<< HEAD:app/views/bills/new.html.haml
        = submit_button "post bill"
=======
        = submit_button "Create bill"
>>>>>>> 62f96d994e4e6f96d443d3b3ac163e0813e86530:app/views/bills/new.html.haml
