- @box_title = 'Do you support this bill?'
#bill
  #main
    #title
      .number
        == FG BILL ##{@bill.id}
      %h2= h @bill.title
    = partial 'polls/voting_options', :box_title => 'Do you support this bill?', :bottom => link_to('Show bill poll page »', url(:poll, :id => @bill.poll_id)), :poll => Poll.first, :vote => logged_in? ? Poll.first.votes(:user_id => session[:user_id]).first || Vote.new : Vote.new
  
  #content
    .left
      .topics
        .title Discussion topics
        %ul
          %li lorem ipsum kinda rocks guys
          %li lorem ipsum isn't supreme for mocks
          %li what's up holla!
          %li jabberwock is so much better
    .right
      - unless @bill.summary.nil?
        #summary
          %h3 Summary
          %p= h(@bill.summary).paragraphize
      - if @bill.sectioned_text.nil? || @bill.sectioned_text.empty?
        #sections
          .section
            %h3 Bill Text
            %p= h(@bill.text).paragraphize
      - else
        #sections
          - @bill.sectioned_text.each do |section|
            .section
              %h3= section[0]
              %p= section[1]
              .comments_link
                %a
                  3
                  %span comments
          .entire_bill
            %a See Entire Bill
