#bill
  .navlinks
    = link_to 'All bills', url(:bills, :page => session[:bills_index_page]), :class => 'navlink'
    = link_to 'Bill forum', url(:forum, :id => @bill.forum.id), :class => 'navlink alt'
  #main
    .main
      .img
        = link_to image_tag(@bill.user.avatar.url(:small)), profile_url(@bill.user)
      #title
        .number
          == FG BILL ##{@bill.id}
        %h2= h @bill.title
    = partial 'polls/voting_options', :box_title => 'Do you support this bill?', :bottom => link_to('Show related poll', url(:poll, :id => @bill.poll_id)), :poll => @bill.poll, :vote => (logged_in? ? @bill.poll.votes.first(:user_id => session[:user_id]) || Vote.new : Vote.new)
  
  #content
    .left
      .topics
        .title
          = link_to 'Discussion topics', url(:forum, :id => @bill.forum.id)
        - unless @bill.forum.topics.delete_if { |t| t.name == 'Comments' }.empty?
          %ul
            - @bill.forum.topics.each do |t|
              %li= link_to t.name, url(:topic, :id => t.id)
        - else
          %p No topics for this bill.
    .right
      - unless @bill.summary.nil?
        #summary
          %h3 Summary
          %p= h(@bill.summary).paragraphize
      - if @bill.bill_sections.nil?
        #sections
          .section
            %h3 Bill Text
            %p= h(@bill.text).paragraphize
      - else
        #sections
          - @bill.bill_sections.each do |section|
            .section
              %h3= h(section.title)
              %p= h(section.text).paragraphize
              .comments_link
                - if section.topic_id.nil?
                  %a{:href => url(:new_topic, :forum_id => section.forum_id, :bill_section => section.id)}
                    %span comments
                - else
                  %a{:href => url(:topic, :id => section.topic_id)}
                    = section.topic.posts_count
                    %span comments
          .entire_bill
            %a See Entire Bill
