#footer
  %h2
    .girdle
      == Updates
  .content.girdle
    .left
      .users
        %h3 New Users
        - unless @updates_newest_users.nil?
          - @updates_newest_users.each do |user|
            .user
              .image= link_to image_tag(user.avatar.url(:small)), profile_url(user)
              .details
                .username= link_to h(user.username), profile_url(user)
                .location
                  = h user.address_text
                .other
                  Liberian / User
                /.location== #{h user.address.city}
                /.location== #{h user.address.state}
      .donation
        %h3 Support FreeGovernment.org
        = partial 'layout/donate'
    .right
      .topics
        %h3 Recent Topics
        - unless @updates_newest_topics.nil?
          - @updates_newest_topics.each do |post|
            .topic
              .image= link_to image_tag(post.user.avatar(:small)), profile_url(post.user)
              .details
                .heading
                  =link_to h(post.user.username), profile_url(post.user)
                  %span commented on 
                  =link_to h(post.topic.name), url(:topic, :id => post.topic.id)
                .text
                  =link_to h(post.text), post_url(post)
      .polls
        %h3 Recent Polls
        - unless @updates_newest_polls.nil?
          - @updates_newest_polls.each do |poll|
            .poll
              .image= link_to image_tag(poll.icon.url(:small)), url(:poll, :id => poll.id) 
              .details
                .heading
                  = link_to "\"#{h poll.question}\"", url(:poll, :id => poll.id)
                  .vote_count== #{ poll.vote_count } votes
                - if poll.vote_count > 0
                  .results== #{poll.yes_percent.precision_round(1)}% Yes | #{poll.no_percent.precision_round(1)}% No
                - else
                  .results no results yet
  .bottom
    .girdle
      .copyright== &copy; #{Time.now.year} FreeGovernment.org
      .links
        .left
          = link_to "About Us"
          %span= '|'
          = link_to "Contact Us"
          %span= '|'
          = link_to "Blog", "http://blog.freegovernment.org"
        .right
          = link_to "Privacy Policy", url(:privacy)
          %span= '|'
          = link_to "Terms of Use", url(:terms)
          %span= '|'
          = link_to "Source Code", "http://www.github.com/foysavas/freegovernment-core"
    %span#feedback_link Give us feedback!
