!!! XML
!!! 1.0 Strict
%html
  = partial 'layout/head'
  %body
    #non_footer
      = partial 'layout/header'
      #center.girdle
        - if flash.empty?
          = partial 'layout/flash'
        = catch_content :for_layout
      #push
    - cache "application_footer", 10 do
      = partial 'layout/footer'
