.voting_options
  .current_vote== Your vote is set to #{vote.selection}
  .standard_voting
    - form_for Vote.new, :action => url(:votes), :class => "button vote_yes #{ vote.selection == 'yes' ? 'active'  : '' }" do
      = hidden_control :poll_id, :value => poll.id
      = hidden_control :selection, :value => 'yes'
      = submit_button "Yes"
    - form_for Vote.new, :action => url(:votes), :class => "button vote_undecided #{ vote.selection == 'undecided' ? 'active' : '' }" do
      = hidden_control :poll_id, :value => poll.id
      = hidden_control :selection, :value => 'undecided'
      = submit_button "Undecided"
    - form_for Vote.new, :action => url(:votes), :class => "button vote_no #{ vote.selection == 'no' ? 'active' : '' }" do
      = hidden_control :poll_id, :value => poll.id
      = hidden_control :selection, :value => 'no'
      = submit_button "No"
  - if !logged_in? || !@current_user.is_adviser?
    .adviser_voting
      - form_for Vote.new, :action => url(:votes), :class => "button vote_advisers #{ vote.selection == 'adviser' ? 'active' : '' }" do
        = hidden_control :poll_id, :value => poll.id
        = hidden_control :selection, :value => 'adviser'
        = submit_button "Let Advisers Decide"
