#polls_index
  #polls_index_header
    %h2 Polls
    .caption vote here on user-submitted questions
    .caption don't forget to learn how you can get advisers to vote for you.
  #poll_list_and_filters
    #poll_list
      - unless @polls_page.nil?
        - @polls_page.each do |poll|
          .poll
            .details
              .sidebar
                = image_tag "polls/default_icon.png"
              .main
                .question= poll.question
                .description= poll.description
                = partial 'polls/voting_options', :poll => @poll, :vote => Vote.new
            .stats
              
    #poll_filters
      #poll_search
      #poll_creation.attention
        .title Can't find the poll you're looking for?
        = link_to "Click here to create it.", url(:new_poll)
      #poll_tags.filter
        .title Poll Tags
