#polls_index
  %h2.index_header
    Polls
    .caption vote here on user-submitted questions
    .caption don't forget to learn how you can get advisers to vote for you.
  .list_and_filters
    .list
      - unless @polls_page.nil?
        - @polls_page.each do |poll|
          .poll
            .details
              = link_to image_tag("polls/missing_icon_small.png"), url(:poll, :id => poll.id)
              .main
                %h3= link_to "#{poll.question}", url(:poll, :id => poll.id)
                .description= poll.description
                = partial 'polls/voting_options', :poll => poll, :vote => logged_in? ? poll.votes(:user_id => session[:user_id]).first || Vote.new : Vote.new
                .tags
                  tags:
                  - if true || poll.tags.nil?
                    %span no associated tags
            .stats
              .segment
                .title All Users
                - if poll.vote_count > 0
                  .stat.yes
                    %span.number== #{poll.yes_percent.precision_round(1)}%
                    %span.label Yes 
                  .stat.no
                    %span.number== #{poll.no_percent.precision_round(1)}%
                    %span.label No
                - else
                  .stat.yes
                    n/a
                    %span Yes 
                  .stat.no
                    n/a
                    %span No
                .total== #{poll.vote_count} votes
              .segment
                .title Verified Voters
                - if poll.verified_vote_count > 0
                  .stat.yes
                    = #{poll.verified_yes_percent.precision_round(1)}%
                    %span Yes 
                  .stat.no
                    = #{poll.verified_no_percent.precision_round(1)}%
                    %span No
                - else
                  .stat.yes
                    n/a
                    %span Yes 
                  .stat.no
                    n/a
                    %span No
                .total== #{poll.verified_vote_count} votes
      .pagination
        = merb_paginate @polls_page
        = page_entries_info @polls_page
    .filters
      #poll_search
      #poll_creation.attention
        .title Can't find the poll you're looking for?
        = link_to "Click here to create it.", url(:new_poll)
      #poll_tags.filter
        .title Poll Tags
