.navlinks
  = link_to '« Back to polls index', url(:polls, :page => session[:polls_index_page]), :class => 'navlink'
  - unless @poll.bill_id.nil?
    = link_to 'Show Bill', url(:bill, :id => @poll.bill_id), :class => 'navlink'
#poll
  #poll_details
    = image_tag @poll.icon.url(:small)
    .details
      .question= h @poll.question
      = partial 'polls/voting_options', :poll => @poll, :vote => logged_in? ? @poll.votes(:user_id => session[:user_id]).first || Vote.new : Vote.new, :box_title => '', :bottom => ''
  #poll_description_and_comments
    #poll_description_etc
      #poll_statistics.block
        .title Poll Statistics
        .content
          %table#poll_stats_table
            %tr
              %th.date Today
              %th.all All Users
              %th.verified Verified Voters
            %tr.yes
              %td.label Yes
              %td== #{@poll.vote_count > 0 ? @poll.yes_percent.precision_round(1).to_s+'%' : 'n/a'}
              %td== #{@poll.verified_vote_count > 0 ? @poll.verified_yes_percent.precision_round(1).to_s+'%' : 'n/a'}
            %tr.no
              %td.label No
              %td== #{@poll.vote_count > 0 ? @poll.no_percent.precision_round(1).to_s+'%' : 'n/a'}
              %td== #{@poll.verified_vote_count > 0 ? @poll.verified_no_percent.precision_round(1).to_s+'%' : 'n/a'}
            %tr
              %td.label All
              %td= @poll.vote_count
              %td= @poll.verified_vote_count
      #poll_topics.block
        .title= link_to 'Topics Being Discussed', url(:forum, :id => @poll.forum.id) 
        .content
          - unless @poll.forum.topics.delete_if { |t| t.name == 'Comments' }.empty?
            %ul
              - @poll.forum.topics.each do |t|
                %li= link_to t.name, url(:topic, :id => t.id)
          - else
            %p No topics for this bill.
      #poll_description.block
        .title Description & Updates
        .content
          .content_block.description= h @poll.description
    #poll_comments_etc
      #poll_statistics.block
        .title Statistics in Real-Time
      #poll_timeline.block
        .title Timeline of Poll Results
      #poll_comments.block
        .title Comments
