  #link_back
    =link_to "<< back to all polls", url(:polls)
  #poll_image_and_details
    #poll_image
      = image_tag 'polls/default_icon_100.png'
    #poll_details
      .question= @poll.question
      = partial 'polls/voting_options', :poll => @poll, :vote => logged_in? ? @poll.votes(:user_id => session[:user_id]).first || Vote.new : Vote.new
  #poll_description_and_comments
    #poll_description_etc
      #poll_statistics.block
        .title Poll Statistics
        .content
          %table#poll_stats_table
            %tr
              %th.date Today
              %th.all All Users
              %th.verified Verified Voters
            %tr.yes
              %td.label Yes
              %td== #{@poll.vote_count > 0 ? @poll.yes_percent.to_s+'%' : 'n/a'}
              %td== #{@poll.verified_vote_count > 0 ? @poll.verified_yes_percent.to_s+'%' : 'n/a'}
            %tr.no
              %td.label No
              %td== #{@poll.vote_count > 0 ? @poll.no_percent.to_s+'%' : 'n/a'}
              %td== #{@poll.verified_vote_count > 0 ? @poll.verified_no_percent.to_s+'%' : 'n/a'}
            %tr
              %td.label All
              %td= @poll.vote_count
              %td= @poll.verified_vote_count
      #poll_topics.block
        .title Topics Being Discussed
        .content
      #poll_description.block
        .title Description & Updates
        .content
          .content_block.description= @poll.description
    #poll_comments_etc
      #poll_statistics.block
        .title Statistics in Real-Time
      #poll_timeline.block
        .title Timeline of Poll Results
      #poll_comments.block
        .title Comments
